* {
    margin: 0;
    box-sizing: border-box;
}

.header {
    background-color: beige;
}

.heroSection {
    background-color: plum;
}

.contact {
    background-color: dodgerblue;
}

.serviceSection {
    background-color: purple;
}

.serviceSection div {
    background-color: lightpink;
}

.workSection {
    background-color: orange;
}

.aboutSection {
    background-color: chartreuse;
}

.clientSection {
    background-color: lightsalmon;
}

.footer {
    background-color: darkblue;
}