@font-face {
    font-family: 'heebo';
    src: url('./assets/fonts/Heebo-VariableFont_wght.ttf');
}
@font-face {
    font-family: 'poppins300';
    src: url('./assets/fonts/Poppins-Light.ttf');
}
@font-face {
    font-family: 'poppins400';
    src: url('./assets/fonts/Poppins-Regular.ttf');
}
@font-face {
    font-family: 'poppins500';
    src: url('./assets/fonts/Poppins-Medium.ttf');
}
@font-face {
    font-family: 'poppins700';
    src: url('./assets/fonts/Poppins-Bold.ttf');
}
@font-face {
    font-family: 'montserrat';
    src: url('./assets/fonts/Montserrat-VariableFont_wght.ttf');
}

* {
    margin: 0;
    box-sizing: border-box;
}


html {
    font-size: 10px;
}

.mobile html {
    font-size: 8px;
}

.heebo {
    font-family: 'heebo';
    font-size: 3.6rem;
    font-weight: 800;
    color: #333333;
}

.headline{
    font-family: 'poppins500';
    font-size: 4.8rem;
    line-height: 7.2rem;
    color: #333333;
}

.subHeadline{
    font-family: 'poppins500';
    font-size: 3.6rem;
    color: #333333;
}

/* ###### Navbar ###### */
.desktopHeader {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5% 4%;
    position: sticky;
    top: 0;
}

.desktopHeader button {
    display: none;
}

.desktopHeader .nav a {
    font-family: poppins500;
    font-size: 2.2rem;
    text-decoration: none;
    padding-left: 7rem;
    color: #333333;
}

.mobileHeader .nav {
    display: none;
}

.mobileHeader {
    background-color: white;
    position: sticky;
    top: 0;
}

.mobileHeader .mobileContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5% 4%;
}

.mobileHeader .mobileContainer button {
    background-color: transparent;
    border: none;
    width: 40px;
}

.mobileHeader .menuItems {
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: 0 0 24px 24px;
}

.mobileHeader .menuItems a {
    font-family: poppins500;
    font-size: 2.2rem;
    text-decoration: none;
    padding: 10px 0;
    color: #333333;
}

.mobileHeader .menuItems a:hover {
    background-color: rgba(0,0,0,0.07);
}

/* ###### HeroSection ###### */

.heroSection h6 {
    font-family: 'poppins500';
    font-size: 1.8rem;
    line-height: 2.7rem;
    color: #2D9CDB;
    margin: 1.5% 14%;
}

.heroContainer article {
    /* background-color: plum; */
    margin: 0 auto;
    text-align: left;
    margin: 3% 14%;
    width: 40%;
}

.heroContainer img {
    display: block;
    margin: 0 auto;
    text-align: center;
    border-radius: 1.8rem;
}

.heroContainer article:nth-of-type(2) {
    width: 30%;
}

.heroContainer p {
    font-family: 'poppins400';
    font-size: 1.8rem;
    color: #4f4f4f;
    width: 85%;
    padding: 3rem 0;
}

/* ###### ServiceSection ###### */

.serviceSection {
    margin: 25vh 7%;
}

.serviceSection h3 {
    width: 30%;
}

.serviceSection article {
    display: flex;
    justify-content: space-evenly;
}

.serviceSection div {
    margin: 10vh 0 5vh 0;
    padding: 5vh;
    width: 30%;
}

.serviceSection div:hover {
    border-radius: 2.4rem;
    box-shadow: 0 1px 2px rgba(0,0,0,0.07), 0 2px 4px rgba(0,0,0,0.07), 0 4px 8px rgba(0,0,0,0.07), 0 8px 16px rgba(0,0,0,0.07), 0 16px 32px rgba(0,0,0,0.07), 0 32px 64px rgba(0,0,0,0.07);
}

.serviceSection div h4 {
    font-family: 'poppins700';
    font-size: 2.4rem;
    color: #333333;
    padding: 2rem 0;
}

.serviceSection div p {
    font-family: 'poppins400';
    font-size: 1.6rem;
    color: #4f4F4F;
}

.serviceSection button { 
    background-color: #E0E0E0;
    color: #828282;
    margin: 5vh 0 1vh 0;
    font-size: 1.8rem;
    padding: 1rem;
    border: none;
    border-radius: 1.2rem;
}

.serviceSection button:hover {
    cursor: pointer;
    box-shadow: 0 1px 2px rgba(0,0,0,0.07), 0 2px 4px rgba(0,0,0,0.07), 0 4px 8px rgba(0,0,0,0.07), 0 8px 16px rgba(0,0,0,0.07), 0 16px 32px rgba(0,0,0,0.07), 0 32px 64px rgba(0,0,0,0.07);
}

/* ###### WorkSection ###### */
.workSection {
    margin: 15vh 7%;
}

.workSection h3 {
    width: 30%;
}

.imgDiv {
    display: flex;
    justify-content: space-evenly;
}

.imgDiv article:nth-of-type(1) {
    padding-top: 15vh;
}

.imgDiv img {
    border-radius: 2.4rem;
}

.imgDiv h5 {
    font-family: 'poppins300';
    font-size: 1.4rem;
    color:#828282;
    padding: 2rem 0 2rem 1rem;
}

.imgDiv h6 {
    font-family: 'poppins500';
    font-size: 2.4rem;
    color:#333333;
    padding: 0 0 2rem 1rem;
}

.workSection a {
    font-family: 'poppins500';
    font-size: 2.4rem;
    color: #2D9CDB;
    text-decoration: none;
    display: block;
    text-align: right;
}

/* ###### AboutSection ###### */

.aboutSection {
    margin: 15vh 7%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.aboutSection p:nth-of-type(1) {
    font-family: 'poppins500';
    font-size: 1.8rem;
    color: #EB5757;
}

.aboutSection h3 {
    margin: 1.5vh 0;
    width: 52%;
}

.aboutSection p:nth-of-type(2) {
    font-family: 'poppins400';
    font-size: 1.6rem;
    color: #4F4F4F;
    width: 52%;
}

.imgSection {
    width: 60%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 14vh 14vh 20vh 20vh; 
    gap: 30px;
}

.imgSection img {
    border-radius: 2.4rem;
}

.imgSection #c {
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-start: 2;
}

.imgSection #a {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-start: 3;
}

.imgSection #b {
    grid-row-start: 3;
    grid-row-end: 5;
    grid-column-start: 2;
    grid-column-start: 3;
}

/* ###### WorkSection ###### */
.clientSection {
    margin: 15vh 7%;
}

.clientSection h3 {
    width: 72%;
}

.clientSection article {
    display: flex;
    margin: 3vh 0;
}

.clientSection article img{
    width: 10%;
    border-radius: 12px;
}

.clientSection div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 3vw;
}

.clientSection article p:nth-of-type(1){
    font-family: 'poppins500';
    font-size: 2.4rem;
    color:#333333
}

.clientSection article p:nth-of-type(2){
    font-family: 'poppins500';
    font-size: 1.8rem;
    color: #828282
}

/* ###### Footer ###### */
.footer {
    background-color: #100E1D;
    display: flex;
}

.footerLinks {
    width: 35%;
    display: flex;
    flex-direction: column;
    padding: 3vh 10%;
}

.footerLinks a {
    font-family: 'poppins400';
    font-size: 1.4rem;
    color:#F2F2F2;
    text-decoration: none;
    padding: 0.5vh 0;
}

.footer article {
    width: 15%;
    margin: 3vh auto;
}

.footer article a {
    padding-right: 0.5vw;
}

.footer div {
    width: 50%;
    padding: 3vh auto;
    justify-self: center;
}

.footer p {
    color:#F2F2F2;
    font-size: 2.6rem;
}

u {
    display: block;
    background-color: #100E1D;
    padding-bottom: 2vh;
    text-align: center;
    font-family: 'montserrat';
    font-size: 1.2rem;
    font-weight: 500;
    color:#F2F2F2;
    text-decoration: none;
}

span {
    font-size: 1.4rem;
    font-weight: 600;
}

/* ###### ContactComponent ###### */
.contact {
    margin: 3% 14%;
}

.contact p {
    font-family: 'poppins500';
    font-size: 1.4rem;
    color: #828282;
}

.submitMail {
    margin: 1.5rem 0;
    background-color: #F2F2F2;
    width: 28%;
    border-radius: 12px;
    display: flex;
    justify-content: space-between;
}

.submitMail input {
    width: 70%;
    margin: 3px 0 3px 3px;
    border: none;
    border-radius: 12px;
    background-color: #F2F2F2;
    padding: 0 0 0 1rem;
}

.submitMail button {
    background-color: #2D9CDB;
    color: #F2F2F2;
    margin: 3px 3px 3px 3px;
    font-size: 1.8rem;
    padding: 1.2rem 0;
    width: 30%;
    border: none;
    border-radius: 12px;
}

.submitMail button:hover {
    cursor: pointer;
    box-shadow: 0 1px 2px rgba(0,0,0,0.07), 0 2px 4px rgba(0,0,0,0.07), 0 4px 8px rgba(0,0,0,0.07), 0 8px 16px rgba(0,0,0,0.07), 0 16px 32px rgba(0,0,0,0.07), 0 32px 64px rgba(0,0,0,0.07);
}